
@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!-- Navigation-->
<div>
    @await Html.PartialAsync("hr/_GuestNavPartial")
    <div class="content-wrapper">

        <div class="col-md-4">

            Par informacija

        </div>

    </div>
</div>
