@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@model ReviewModel

<!-- Navigation-->
<div>
    @await Html.PartialAsync("hr/_GuestNavPartial")
    <div class="content-wrapper">

        <div class="col-md-4">
           
            Hvala na recenziji! <br/>
            Uvažiti ćemo svaki savjet i kritiku!

        </div>

    </div>
</div>
