@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model HomeViewModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!-- Navigation-->
<div>
    @await Html.PartialAsync("_DashboardNavPartial")
    <div class="content-wrapper">
        <div class="col-md-10">


            <form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="FileUpload">
                <div class="form-group">
                    <p>Odaberi jednu ili više slika (podržani formati: jpg, jpeg, png)</p>
                    <input type="file" name="files" multiple />
                </div>
                <div class="form-group">
                    Dodaj na: &nbsp;
                    <input type="radio" value="start" name="position"/> pocetak
                    <input type="radio" value="end" name="position" checked="checked"/> kraj
                </div>
                <div class="form-group">
                    <input type="submit" value="Upload" class="btn btn-default" />
                </div>
            </form>

            <hr class="light my-4">

            @foreach (var i in Model.ImageOrder)
            {
                <img class="img-fluid" src="@Url.Action("GetResized", "Image", new {guid = @i})" alt=""/>
                <span>&nbsp;</span>
                <a asp-controller="Admin" asp-action="DeleteImage" asp-route-guid="@i"  class="btn btn-danger"> Obriši</a>
                <span>&nbsp;</span>
                <a asp-controller="Admin" asp-action="MoveUp" asp-route-guid="@i"  class="btn btn-primary"> Pomakni ispred</a>
                <span>&nbsp;</span>
                <a asp-controller="Admin" asp-action="MoveDown" asp-route-guid="@i"  class="btn btn-primary"> Pomakni iza</a>
                <span>
                    <br/>
                </span>
            }

        </div>
    </div>
</div>