@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model UsersListModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!-- Navigation-->
<div>
    @await Html.PartialAsync("_DashboardNavPartial")
    <div class="content-wrapper">
        <div class="col-md-10">

            @foreach (var item in Model.UserIsAdminTupleList)
            {
                <div class="alert alert-custom">
                    @item.Item1
                    <span>&emsp;</span>
                    @if (item.Item2 == true)
                    {
                        <a asp-controller="Admin" asp-action="RemoveAdmin" asp-route-guid="@item.Item1.Id" class="btn btn-info"> Makni administratorkse ovlasti</a>
                    }
                    else
                    {
                        <a asp-controller="Admin" asp-action="MakeAdmin" asp-route-guid="@item.Item1.Id" class="btn btn-outline-info "> Postavi administratorske ovlasti</a>
                    }
                    <span>&emsp;</span>
                    <a asp-controller="Admin" asp-action="DeleteAccount" asp-route-guid="@item.Item1.Id" class="btn btn-danger"> Obriši korisnički račun</a>
                </div>
                <hr />
            }


            &nbsp
        </div>
    </div>
</div>