@{
    ViewData["Title"] = "Guest corner";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div>
    @await Html.PartialAsync("en/_GuestNavPartial")
    <div class="content-wrapper">

        <div class="col-md-4">

            Lorem ipsum dolor sit amet..

        </div>

    </div>
</div>
